body {
  /* background: #222; */
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  height: 100%;
}

.nav {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-container {
  width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  background-image: url("images/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -90px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.header-title-container {
  /* margin: 0 auto; */
}

.header-title {
  text-align: center;
  padding: .5em 0;
}

.logo {
  float: left;
  width: 50px;
  height: 50px;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 25px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #C0C0C0;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #C0C0C0;
  position: absolute;
  width: 0;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.profile-image {
  float: left;
  margin-right: 20px;
}

main {
  width: 100%;
  min-height: calc(100vh - 193px - 59.2px);
}

footer {
  width: 100%;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
}

.copyright {
  float: left;
}

.social-media-icons {
  float: right;
}

div i {
  padding-left: 10px;
}
